# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# 動画ファイル
static/videos/*.mp4
static/videos/*.avi

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# PyInstaller
*.spec
build/
dist/
